//registry.npmjs.org/:_authToken=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
@srmcguirt:registry=https://registry.npmjs.org/
hoist=true
hoist-pattern[]=*
shamefully-hoist=true
auto-install-peers=true
prefer-workspace-packages=true
node-linker=hoisted
