//registry.npmjs.org/:_authToken=
@srmcguirt:registry=https://registry.npmjs.org/
hoist=true
hoist-pattern[]=*
shamefully-hoist=true
auto-install-peers=true
prefer-workspace-packages=true
node-linker=hoisted
